form .form-floating:focus-within {
  z-index: 2;
}

form > .form-floating:nth-child(1) > input {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

form > .form-floating:nth-child(2) > input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

form input:focus {
  box-shadow: none;
}
