@if (step == 1) {
<form (ngSubmit)="getOtpCode()">
  <div class="form-floating">
    <input [(ngModel)]="login_value" name="login_value" type="email" class="form-control" id="login_value" placeholder="{{ t('login') }}" required />
    <label for="email_value">{{ t('login') }}</label>
  </div>
  <p class="text-muted small m-0 mt-2">{{ t('instruction_1') }}</p>
  @if (has_alert) {
  <div class="alert alert-danger m-0 mt-1" role="alert">{{ alert_message }}</div>
  }
  <button class="btn btn-lg btn-primary w-100 mt-3 py-2" type="submit">{{ t('receive otp') }}</button>
</form>
}

@else if (step == 2) {
<form (ngSubmit)="verifyOtpCode()">
  <div class="spinner-input">
    <div class="form-floating">
      <input [(ngModel)]="code_value" name="code_value" type="text" class="form-control" id="code_value" placeholder="{{ t('otp code') }}" required />
      <label for="email_value">{{ t('otp code') }}</label>
    </div>
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>
  </div>
  <p class="text-muted small m-0 mt-2">{{ instruction2() }}</p>
  @if (has_alert) {
  <div class="alert alert-danger m-0 mt-1" role="alert">{{ alert_message }}</div>
  }
  <button class="btn btn-lg btn-primary w-100 mt-3 py-2" type="submit">{{ t('send') }}</button>
</form>
}

<div class="d-flex justify-content-center w-100 mt-2">
  <a (click)="back()" type="button" class="btn btn-link">{{ t('back') }}</a>
</div>